*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding:0;
    text-align:center;
    background:#d9ead3ff;
}
a{
    text-decoration: none;
}
a:visited{
    color:#000;
}
h1{
    margin-top:20px;
}

.pop{
    height:50px;
    width:50px;
    background-color: #d9ead3ff;
    border-radius:50%;
    border:3px solid ;
    display:inline-block;
    margin:25px;
    position:absolute;
}
#one{
    bottom:50%;
}
#two{
    bottom:10%;
    left:5%;
}
#three{
    top:10%;
    right:30%;
}
#four{
    top:50%;
    left:60%;
}
#five{
    top:60%;
    right:10%;
}
#six{
    top:80%;
    left:70%;
}
#seven{
    top:30%;
    left:35%;
}
#eight{
    top:70%;
    left:50%;
}
#nine{
    bottom:30%;
    left:20%;
}
#ten{
    top:20%;
    left:5%;
}

/* POP */





.pop {
    width: 100px;
    height: 100px;
    background-color:rgb(157, 205, 214);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 59%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Smooth transition for width and height */
}


/* Media query for mobile devices */
@media (max-width: 768px) {

    .pop{
        height:25px;
        width:25px;
    }

}