*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    margin:0;
    padding:0;
    text-align:center;
    background:#d9ead3ff;
}
a{
    text-decoration: none;
}
a:visited{
    color:#000;
}
h1{
    margin-top:20px;
}

.pop{
    height:50px;
    width:50px;
    background-color: #d9ead3ff;
    border-radius:50%;
    border:3px solid ;
    display:inline-block;
    margin:25px;
    position:absolute;
}
#one{
    bottom:50%;
    background-color: rgb(176, 100, 137);
    width: 90px;
    height: 90px;
}
#two{
    bottom:10%;
    left:5%;
    background-color: #b2c55e;
    width: 80px;
    height: 80px;
}
#three{
    top:10%;
    right:30%;
    background-color: #c99292;
    width: 70px;
    height: 70px;
}
#four{
    top:50%;
    left:60%;
    background-color: rgb(41, 199, 186);
    width: 60px;
    height: 60px;
}
#five{
    top:60%;
    right:10%;
    background-color: aliceblue;
    width: 115px;
    height: 115px;
}
#six{
    top:80%;
    left:70%;
    background-color: blanchedalmond;
    width: 80px;
    height: 80px;
}
#seven{
    top:30%;
    left:35%;
    background-color:rgb(173, 94, 94);
    width: 75px;
    height: 75px;
}
#eight{
    top:70%;
    left:50%;
    background-color: beige;
    width: 80px;
    height: 80px;
}
#nine{
    bottom:30%;
    left:20%;
    background-color: bisque;
    width: 150px;
    height: 150px;
}
#ten{
    top:20%;
    left:5%;
    background-color: aquamarine;
    width: 83px;
    height: 83px;
}
#eleven{
    top:25%;
    left:67%;
    background-color:#413b3b;
    width: 94px;
    height: 94px;
}
#twelve{
    top:85%;
    left:34%;
    background-color: aqua;
    width: 100px;
    height: 100px;
}

/* POP */





.pop {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 59%;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Smooth transition for width and height */
}


/* Media query for mobile devices */
@media (max-width: 768px) {

    .pop{
        height:25px;
        width:25px;
    }

}


